<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image</title>
    
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container">
          <a class="navbar-brand" href="/">
            <img class="" src="{{url_for('static', filename='fish-svg.svg')}}" alt="Fish" width="45" height="45">
            PhishBuster
          </a>
        </div>
    </nav>
    <div class="container mt-5">
        <h1 class="text-center">Upload Image</h1>
        <form method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">Upload an Image:</label>
                <input type="file" class="form-control-file" name="file" id="file">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <!-- Flash messages can be displayed here -->
    </div>
    
    <!-- Include Bootstrap JavaScript (popper.js and bootstrap.js) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
